main {
    display: flex; /* Utiliza o display flexível */
    flex-direction: column; /* Organiza os elementos-filhos em coluna */
    align-items: center; /* Centraliza os elementos-filhos horizontalmente */
    justify-content: center; /* Centraliza os elementos-filhos verticalmente */
    height: 100vh; /* Define a altura do elemento main como 100% da viewport */
}
#teste {
    width: 200px;
    height: 200px;
    border-radius: 100%; 
    background-color: blue; 
    color: white; 
    border: 1vh solid black; 
    cursor: pointer; 
    font-size: 8vh;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}
#codigo h1 {
 padding-top: 50vh;
 font-size: 2vh;
}
